.ap-ca {
  margin-top: 100px;
  position: absolute;
}

.container-top {
  margin-top: 70px;
  width: 100%;
  height: 600px;
}

.img-carrosel {
  width: 400px;
  height: 320px;
  opacity: 30%;
  margin-top: 50px;
}

.img-carrosel2 {
  width: 300px;
  height: 320px;
  opacity: 10%;
  margin-top: 50px;
}

.width-txt {
  height: 80%;
  /* text-shadow: 4px 10px #484747; */
}

.txt-descricao {
  font-size: 2.5em;
  font-weight: 1000;
}

.txt-p {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 900;
  margin-top: 60px;
}

span {
  color: #ffc628;
  font-size: 1.1em;
  font-weight: 1000;
  text-shadow: 3px 3px #484747;
}

@media only screen and (max-width: 950px) {
  .display {
    display: none;
  }
  body {
    font-size: 13px;
  }
  .container-top {
    width: 110%;
    height: 400px;
  }
  .txt-descricao {
    font-size: 2em;
  }
}